.mb-3{
    margin-left: 50px;
    margin-top: 30px;
}
body{
    background-color: pink;
}
.form-control{
    width: 500px;
    height: 30px;
    font-size:15px ;
}
.form-label{
    font-size: 20px;
}
.btn{
    margin-left: 50px;
    margin-top: 20px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: none;

}
.btn:hover{
    background-color: black;
    color:white;
}