
body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin-top: 64px;
    margin-left: 0px;
    font-family: serif;
    color: transparent;
    text-align: center;
    animation: effect 2s linear infinite;
    font-size: 2.4375rem;
font-size: clamp(2.4375rem, 1.600609756097561rem + 3.719512195121951vw, 6.25rem);
}

@keyframes effect {
    0% {
        background: linear-gradient(#008000, #00FF00);
        -webkit-background-clip: text;
    }

    100% {
        background: linear-gradient(#3CE7D7, #000FFF);
        -webkit-background-clip: text;
    }
}
.same{
    text-decoration: none;
}
.back {
    margin-left: 115px;
    @media (width>=425px){
        margin-left: 290px;
    }
    @media (width>=768px){
        margin-left: 605px;
    }
    height: 30px;
    width: 100px;
    font: 1em sans-serif;
    font-size: 13px;
    border: 1px dashed black;
}
.back:hover{
   
    background-color:#000FFF ;
}
a:hover { text-decoration: none;
color:#00FF00;}